<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type"
        content="text/plain; charset=utf-8">
        {% block title %}<title>Main page </title>{% endblock %}
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        {% block content %} 
        {% if user.is_authenticated %}
                <h1 align="center"> Welcome, {{ user.username }}</h1><br />
                    <a href="{% url 'add_article' %}">Create article</a><br />
                    <a href="{% url 'information' %}">Your information</a><br />
                    <a href="{% url 'logout' %}">Logout</a>
                
        {% else %}
            <p align="center">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registration' %}">Registration</a>
            </p>
        {% endif %}
        <h1 align="center">Articles</h1>
         {% for item in Articles %}
             <a href="{% url 'specific_article' item.title %}">{{item.title}}<br />
         {% endfor %}
        {% endblock %}
    </body>
</html>
