{% extends 'main.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0;URL={% url 'main_page' %}" />
    {% endif %}
<div class="row justify-content-md-center">
    <form class="registration-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
